<?js include('layout-head.html') ?>
<?js
if (it.pagecount.toString().length == 0){
	it.pagecount = [1];
}
var thispagelink = '/category/'+encodeURI(it.main_category+(it.sub_category.toString().length > 0 ? '/'+it.sub_category : ''));
?>
<div id="content">
    <p class="browse">
    <a href="/">Home</a> 
	»
	<a href="/category/#{encodeURI(it.main_category)}" title="View all topics in ${it.main_category}" rel="category tag">${it.main_category}</a>
	»
	<?js if(it.sub_category.toString().length > 0){?>
	<a href="/category/#{encodeURI(it.main_category+'/'+it.sub_category)}" title="View all topics in ${it.main_category+'/'+it.sub_category}" rel="category tag">${it.main_category+'/'+it.sub_category}</a> 
	»<?js } ?>
	Page #{it.pagecount}
	</p>
	  <!-- You can start editing here. -->
</div><!--end: content-->
 <div class="clear"></div>

<div id="col1">
<?js
var itemrows = it.itrows;
if ((typeof(itemrows)!="undefined")&&(itemrows.length>0)){
	for (var ind=0;ind<itemrows.length;ind++){
?>
<?js include('list-item.html') ?>
<?js
	} //for (ind in itrows)
}else{ //if ((typeof(it.itrows)=="array")&&(it.itrows.length>0))
	?>
	<div class="undefined">
  <div class="postbox">
  <div class="boxmeta left">
  <h2>未找到相关资源。 </h2>
  </div> <!--end: .boxmeta left-->
  </div><!--end: postbox-->
</div><!--end: undefined-->
	<?js
}
?>
    	<div class="clear"></div>
<div class="pagination">
	<div class="wp-pagenavi">
	<?js
	var pagecount = parseInt(it.pagecount);
	var totalcount = parseInt(it.totalpage)>1?parseInt(it.totalpage):1;
	var pages = [];
	pages.push(pagecount-10,pagecount-2,pagecount-1,pagecount,pagecount+1,pagecount+2,pagecount+10);
	pages = pages.filter(function(em){
		if(em>1&&em<totalcount){ 
			return true;
		}
	});
	pages.push(1);
	
	pages.sort(function(a,b){return a-b;});
	?>
	<!--	<span class="pages">Page #{pagecount} of #{totalcount}</span>-->
	<?js //prev page
	if(pagecount-1 >= 1){
		?><a href="#{thispagelink+'.'+(pagecount-1)}" class="page">上页</a><?js
	}
	
	for(ind in pages){
		if(pages[ind] == pagecount){
			?> <span class="current">#{pagecount}</span> <?js
		}else{
			?><a href="#{thispagelink+'.'+pages[ind]}" class="page">#{pages[ind]}</a><?js
		}
	}
	
	//next page
	if(pagecount+1 <= totalcount){
		?><a href="#{thispagelink+'.'+(pagecount+1)}" class="page">下页</a><?js
	}
	?>
	</div> <!--end .wp-pagenavi-->	
</div> <!--end .pagination-->	
</div><!--end: col1-->

<div id="sidebar">
<!--
	<div class="adblock">
	
 	<div class="left">
		<div class="ad125x125"><a target="_blank" href="http://www.getcd.org/go/pagelines"><img src="Freshblog%20%C2%BB%20Taking%20A%20Look%20At%20The%20New%20Features%20In%20CSS%20Edit_files/125x125_Redesigned.jpg" alt="Platform Drag and Drop Design Framework for WordPress" border="0"></a></div>
		<div class="ad125x125"><a target="_blank" href="http://www.getcd.org/go/thesis"><img src="Freshblog%20%C2%BB%20Taking%20A%20Look%20At%20The%20New%20Features%20In%20CSS%20Edit_files/thesis-125x125-1.png" alt="How smart is your Theme?  How good is your support? Check out ThesisTheme for WordPress." border="0"></a></div>
    </div>
    <div class="right">
		<div class="ad125x125"><a target="_blank" href="http://www.getcd.org/go/headwaythemes"><img src="Freshblog%20%C2%BB%20Taking%20A%20Look%20At%20The%20New%20Features%20In%20CSS%20Edit_files/125x125_wb.png" alt="No Need For WordPress Developers — Drag &amp; Drop With Headway" border="0"></a></div>
		<div class="ad125x125"><a target="_blank" href="http://www.getcd.org/go/solostream"><img src="Freshblog%20%C2%BB%20Taking%20A%20Look%20At%20The%20New%20Features%20In%20CSS%20Edit_files/solo-banner-125-2.gif" alt="solostream premium wordpress theme"></a></div>
    </div>
	
    <div class="clear"></div>
</div> --> <!--end: adblock-->
	<div class="fullwidget">
    	<h3>热门资源</h3><div class="clear"></div>
		<!-- <div class="box">
			<ul>
				
				<li></li>
			
			</ul>
		</div>
		-->
	</div> <!--end: fullwidget-->
	<!--
  	<div class="leftwidget">
		<h3>Discussions</h3><div class="clear"></div><div class="box"><ul id="recentcomments"><li class="recentcomments"><a href="http://www.youquba.net/" rel="external nofollow" class="url">的拉拉队</a> on <a href="http://www.getcd.org/demo/freshblog/2010/07/28/taking-a-look-at-the-new-features-in-css-edit/#comment-104">Taking A Look At The New Features In CSS Edit</a></li><li class="recentcomments"><a href="http://mediasiana.tk/" rel="external nofollow" class="url">Mediasiana</a> on <a href="http://www.getcd.org/demo/freshblog/2010/07/28/using-jquery-to-create-a-osx-dock-effect/#comment-102">Using jQuery To Create A OSX Dock Effect</a></li></ul></div>
		<h3>Archives</h3><div class="clear"></div><div class="box">		<ul>
			<li><a href="http://www.getcd.org/demo/freshblog/2010/07/" title="July 2010">July 2010</a></li>
		</ul>
</div>  	</div> --><!--end: leftwidget-->
  <!--	<div class="rightwidget">
    	<h3>Blogroll</h3><div class="clear"></div><div class="box">
	<ul class="xoxo blogroll">
<li><a href="http://codex.wordpress.org/">Documentation</a></li>
<li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
	</ul>
</div>
</div> --> <!--end: rightwidget-->
</div> <!--end: sidebar-->
<?js include('layout-foot.html') ?>
