<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>GetCD.org - ${it.title}</title>
<script type="text/javascript" src="/javascripts/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="/javascripts/dropdown.js"></script>
<script type="text/javascript" src="/javascripts/common.js"></script>
<script type="text/javascript" src="/javascripts/thickbox-compressed.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen">
<link rel="stylesheet" type="text/css" id="wp-pagenavi-css" href="/stylesheets/pagenavi-css.css" media="all">
<link rel="stylesheet" type="text/css" href="/stylesheets/thickbox.css" media="screen">

<link rel="shortcut icon" href="www.GetCD.org/favicon.ico">
<link rel="index" title="GetCD" href="http://www.getcd.org/">
<!--[if lt IE 7]>
<script type="text/javascript" src="/javascripts/unitpngfix.js"></script>
<![endif]-->
</head>
<body>
<div id="wrapper">
<div id="top">
    <div id="topnav">
      <div class="left">
        <ul>
            <li title="Home"><a href="/">Home</a></li>
            <li class="page_item page-item-2"><a href="#" title="About">About</a></li>
			<li class="page_item page-item-39"><a href="#" title="Feed">Feed</a></li>
			<li class="page_item page-item-42"><a href="#" title="Archives">Archives</a></li>
			<li class="page_item page-item-44"><a href="#" title="Follow @10iii">Follow @10iii</a></li>
        </ul>
      </div>
      <!--end: left-->
      <div class="right">
        <form method="get" id="searchform" action="#">
          <div id="search">
            <input class="searchinput" value="Search..." onclick="this.value='';" name="s" id="s" type="text">
            <input class="searchsubmit" value="GO" type="submit">
          </div>
        </form>
      </div>
      <!--end: right-->
    </div>
</div>
<!--end: top-->
<div id="header">
<a class="imagelogo" href="http://www.getcd.org/"></a>
    
<div class="ad468x60"><a target="_blank" href="http://www.getcd.org/"><img src="468x60.jpg" alt="www.GetCD.org" border="0"></a></div>
<!--end: ad468x60-->
</div>
<!--end: header-->
<div id="menu">
    <div class="left">
		<ul>


<li class="cat-item"><a href="/category/#{encodeURI("电影")}" title="View all topics in 电影">电影</a><ul class="children"><li class="cat-item"><a href="/category/#{encodeURI("电影/爱情")}" title="View all topics in 电影/爱情">爱情</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("电影/动画")}" title="View all topics in 电影/动画">动画</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("电影/动作")}" title="View all topics in 电影/动作">动作</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("电影/纪录")}" title="View all topics in 电影/纪录">纪录</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("电影/惊悚")}" title="View all topics in 电影/惊悚">惊悚</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("电影/剧情")}" title="View all topics in 电影/剧情">剧情</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("电影/科幻")}" title="View all topics in 电影/科幻">科幻</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("电影/魔幻")}" title="View all topics in 电影/魔幻">魔幻</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("电影/欧美")}" title="View all topics in 电影/欧美">欧美</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("电影/文艺")}" title="View all topics in 电影/文艺">文艺</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("电影/喜剧")}" title="View all topics in 电影/喜剧">喜剧</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("电影/悬疑")}" title="View all topics in 电影/悬疑">悬疑</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("电影/预告片")}" title="View all topics in 电影/预告片">预告片</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("电影/战争")}" title="View all topics in 电影/战争">战争</a></li></ul></li>
<li class="cat-item"><a href="/category/#{encodeURI("剧集")}" title="View all topics in 剧集">剧集</a><ul class="children"><li class="cat-item"><a href="/category/#{encodeURI("剧集/爱情")}" title="View all topics in 剧集/爱情">爱情</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/大陆")}" title="View all topics in 剧集/大陆">大陆</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/动画")}" title="View all topics in 剧集/动画">动画</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/动作")}" title="View all topics in 剧集/动作">动作</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/港台")}" title="View all topics in 剧集/港台">港台</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/韩剧")}" title="View all topics in 剧集/韩剧">韩剧</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/纪录")}" title="View all topics in 剧集/纪录">纪录</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/科幻")}" title="View all topics in 剧集/科幻">科幻</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/历史")}" title="View all topics in 剧集/历史">历史</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/魔幻")}" title="View all topics in 剧集/魔幻">魔幻</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/欧美")}" title="View all topics in 剧集/欧美">欧美</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/日韩")}" title="View all topics in 剧集/日韩">日韩</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/文艺")}" title="View all topics in 剧集/文艺">文艺</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/武侠")}" title="View all topics in 剧集/武侠">武侠</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/喜剧")}" title="View all topics in 剧集/喜剧">喜剧</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("剧集/悬疑")}" title="View all topics in 剧集/悬疑">悬疑</a></li></ul></li>
<li class="cat-item"><a href="/category/#{encodeURI("综艺")}" title="View all topics in 综艺">综艺</a><ul class="children"><li class="cat-item"><a href="/category/#{encodeURI("综艺/纪录片")}" title="View all topics in 综艺/纪录片">纪录片</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("综艺/科教节目")}" title="View all topics in 综艺/科教节目">科教节目</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("综艺/体育节目")}" title="View all topics in 综艺/体育节目">体育节目</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("综艺/晚会典礼")}" title="View all topics in 综艺/晚会典礼">晚会典礼</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("综艺/新闻综合")}" title="View all topics in 综艺/新闻综合">新闻综合</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("综艺/艺人合集")}" title="View all topics in 综艺/艺人合集">艺人合集</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("综艺/综艺娱乐")}" title="View all topics in 综艺/综艺娱乐">综艺娱乐</a></li></ul></li>
<li class="cat-item"><a href="/category/#{encodeURI("音乐")}" title="View all topics in 音乐">音乐</a><ul class="children"><li class="cat-item"><a href="/category/#{encodeURI("音乐/MV")}" title="View all topics in 音乐/MV">MV</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("音乐/古典")}" title="View all topics in 音乐/古典">古典</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("音乐/华语")}" title="View all topics in 音乐/华语">华语</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("音乐/欧美")}" title="View all topics in 音乐/欧美">欧美</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("音乐/日韩")}" title="View all topics in 音乐/日韩">日韩</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("音乐/新世纪音乐")}" title="View all topics in 音乐/新世纪音乐">新世纪音乐</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("音乐/演唱会")}" title="View all topics in 音乐/演唱会">演唱会</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("音乐/影视原声")}" title="View all topics in 音乐/影视原声">影视原声</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("音乐/原声")}" title="View all topics in 音乐/原声">原声</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("音乐/专辑")}" title="View all topics in 音乐/专辑">专辑</a></li></ul></li>
<li class="cat-item"><a href="/category/#{encodeURI("游戏")}" title="View all topics in 游戏">游戏</a><ul class="children"><li class="cat-item"><a href="/category/#{encodeURI("游戏/电视")}" title="View all topics in 游戏/电视">电视</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("游戏/动画")}" title="View all topics in 游戏/动画">动画</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("游戏/光盘")}" title="View all topics in 游戏/光盘">光盘</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("游戏/网络")}" title="View all topics in 游戏/网络">网络</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("游戏/硬盘")}" title="View all topics in 游戏/硬盘">硬盘</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("游戏/游戏周边")}" title="View all topics in 游戏/游戏周边">游戏周边</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("游戏/掌机")}" title="View all topics in 游戏/掌机">掌机</a></li></ul></li>
<li class="cat-item"><a href="/category/#{encodeURI("动漫")}" title="View all topics in 动漫">动漫</a><ul class="children"><li class="cat-item"><a href="/category/#{encodeURI("动漫/OVA")}" title="View all topics in 动漫/OVA">OVA</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("动漫/电视动画")}" title="View all topics in 动漫/电视动画">电视动画</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("动漫/动漫周边")}" title="View all topics in 动漫/动漫周边">动漫周边</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("动漫/剧场动画")}" title="View all topics in 动漫/剧场动画">剧场动画</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("动漫/漫画")}" title="View all topics in 动漫/漫画">漫画</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("动漫/原创")}" title="View all topics in 动漫/原创">原创</a></li></ul></li>
<li class="cat-item"><a href="/category/#{encodeURI("软件")}" title="View all topics in 软件">软件</a><ul class="children"><li class="cat-item"><a href="/category/#{encodeURI("软件/安全相关")}" title="View all topics in 软件/安全相关">安全相关</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("软件/编程开发")}" title="View all topics in 软件/编程开发">编程开发</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("软件/操作系统")}" title="View all topics in 软件/操作系统">操作系统</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("软件/多媒体类")}" title="View all topics in 软件/多媒体类">多媒体类</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("软件/网络")}" title="View all topics in 软件/网络">网络</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("软件/系统工具")}" title="View all topics in 软件/系统工具">系统工具</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("软件/行业")}" title="View all topics in 软件/行业">行业</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("软件/应用")}" title="View all topics in 软件/应用">应用</a></li></ul></li>
<li class="cat-item"><a href="/category/#{encodeURI("图书")}" title="View all topics in 图书">图书</a><ul class="children"><li class="cat-item"><a href="/category/#{encodeURI("图书/电子")}" title="View all topics in 图书/电子">电子</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("图书/计算机与网络")}" title="View all topics in 图书/计算机与网络">计算机与网络</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("图书/教育科技")}" title="View all topics in 图书/教育科技">教育科技</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("图书/经济管理")}" title="View all topics in 图书/经济管理">经济管理</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("图书/欧美")}" title="View all topics in 图书/欧美">欧美</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("图书/人文社科")}" title="View all topics in 图书/人文社科">人文社科</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("图书/少儿")}" title="View all topics in 图书/少儿">少儿</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("图书/生活")}" title="View all topics in 图书/生活">生活</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("图书/文学")}" title="View all topics in 图书/文学">文学</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("图书/小说")}" title="View all topics in 图书/小说">小说</a></li></ul></li>
<li class="cat-item"><a href="/category/#{encodeURI("资料")}" title="View all topics in 资料">资料</a><ul class="children"><li class="cat-item"><a href="/category/#{encodeURI("资料/电子图书")}" title="View all topics in 资料/电子图书">电子图书</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("资料/管理营销")}" title="View all topics in 资料/管理营销">管理营销</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("资料/计算机教程")}" title="View all topics in 资料/计算机教程">计算机教程</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("资料/课程讲座")}" title="View all topics in 资料/课程讲座">课程讲座</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("资料/素材")}" title="View all topics in 资料/素材">素材</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("资料/体育健身")}" title="View all topics in 资料/体育健身">体育健身</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("资料/外语教程")}" title="View all topics in 资料/外语教程">外语教程</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("资料/有声读物")}" title="View all topics in 资料/有声读物">有声读物</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("资料/幼儿教育")}" title="View all topics in 资料/幼儿教育">幼儿教育</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("资料/杂志期刊")}" title="View all topics in 资料/杂志期刊">杂志期刊</a></li></ul></li>
<li class="cat-item"><a href="/category/#{encodeURI("教育")}" title="View all topics in 教育">教育</a><ul class="children"><li class="cat-item"><a href="/category/#{encodeURI("教育/计算机")}" title="View all topics in 教育/计算机">计算机</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("教育/理工科")}" title="View all topics in 教育/理工科">理工科</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("教育/人文社科")}" title="View all topics in 教育/人文社科">人文社科</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("教育/商学")}" title="View all topics in 教育/商学">商学</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("教育/外语")}" title="View all topics in 教育/外语">外语</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("教育/医科")}" title="View all topics in 教育/医科">医科</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("教育/医学")}" title="View all topics in 教育/医学">医学</a></li>
    <li class="cat-item"><a href="/category/#{encodeURI("教育/艺术体育")}" title="View all topics in 教育/艺术体育">艺术体育</a></li></ul></li>


		</ul>
    </div>
    <div class="right">
        <a class="rssfeed" href="#" title="Subscribe to RSS feed"> </a>
    </div>
    <!--end: right-->
</div>
<!--end: menu-->
#{it.body}
<div class="clear"></div>

<div id="footer">
  <div class="left">©
    2011    · <a href="http://www.getcd.org/">
    GetCD.org    </a> · <span class="rss"><a href="#" title="Subscribe to Posts feed">Posts</a></span> · <span class="rss" title="Subscribe to Comments feed"><a href="#">Comments</a></span> </div>
  <div class="right"> Designed by <a href="http://www.getcd.org/">GetCD.org</a> · Powered by <a href="http://www.nodejs.org/">Node.js</a>+<a href="http://expressjs.com/">Express</a> </div>
  <div class="clear"></div>
</div>
<!--end: footer-->

</div>
<!--end: wrapper-->
<!--begin: blog tracking-->
<script type="text/javascript">
/*
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16689168-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
*/
</script><!--end: blog tracking-->
<div height="0" id="popupcontent" align="left"><textarea rows="20" cols="80">#</textarea>
</div>
</body></html>
