<?js include('layout-head.html') ?>
<?js
if (it.pagecount.toString().length == 0){
	it.pagecount = [1];
}
var thispagelink = '/index';
?>
<div id="content">
<form method="get" id="mainsearchform" onsubmit="location.href='/search/'+$('#mains').val()+'/'+$('#searchdays').val();return false;"  >
<div id="searchbox">
	<p class="browse">
            <input class="searchinputmain" value="Search..." name="mains" id="mains" type="text">
			<select class="searchinput" name="searchdays" id="searchdays">
				<option value="30">更新日期30天内</option>
				<option value="90" selected>更新日期90天内</option>
				<option value="180">更新日期180天内</option>
				<option value="360">更新日期360天内</option>
				<option value="0">不限</option>
				</select>
            <input class="searchsubmitmain" value="搜索 / SEARCH" type="submit">
	</p>
</div>
</form>
	  <!-- You can start editing here. -->
 <div class="clear"></div>

<div id="col1">
<?js
var itemrows = it.itrows;
if ((typeof(itemrows)!="undefined")&&(itemrows.length>0)){
	for (var ind=0;ind<itemrows.length;ind++){
?>
<?js include('list-item.html'); ?>
<?js
	} //for (ind in itrows)
}else{ //if ((typeof(it.itrows)=="array")&&(it.itrows.length>0))
	?>
	<div class="undefined">
  <div class="postbox">
  <div class="boxmeta left">
  <h2>未找到相关资源。 </h2>
  </div> <!--end: .boxmeta left-->
  </div><!--end: postbox-->
</div><!--end: undefined-->
	<?js
}
?>
    	<div class="clear"></div>
<div class="pagination">
	<div class="wp-pagenavi">
	<?js
	var pagecount = parseInt(it.pagecount);
	var totalcount = parseInt(it.totalpage)>1?parseInt(it.totalpage):1;
	var pages = [];
	pages.push(pagecount-10,pagecount-5,pagecount-2,pagecount-1,pagecount,pagecount+1,pagecount+2,pagecount+5,pagecount+10);
	pages = pages.filter(function(em){
		if(em>1&&em<totalcount){ 
			return true;
		}
	});
	pages.push(1);
	
	pages.sort(function(a,b){return a-b;});
	?>
	<!--	<span class="pages">Page #{pagecount} of totalcount</span>-->
	<?js //prev page
	if(pagecount-1 >= 1){
		?><a href="#{thispagelink+'.'+(pagecount-1)}" class="page">上页</a><?js
	}
	
	for(ind in pages){
		if(pages[ind] == pagecount){
			?> <span class="current">#{pagecount}</span> <?js
		}else{
			?><a href="#{thispagelink+'.'+pages[ind]}" class="page">#{pages[ind]}</a><?js
		}
	}
	
	//next page
	if(pagecount+1 <= totalcount){
		?><a href="#{thispagelink+'.'+(pagecount+1)}" class="page">下页</a><?js
	}
	?>
	</div> <!--end .wp-pagenavi-->	
</div> <!--end .pagination-->	
</div><!--end: col1-->

</div><!--end: content-->
<div id="sidebar">
	<div class="fullwidget">
    	<h3>热门资源</h3><div class="clear"></div>
		<div class="box">
			<?js
			it.hotboard.forEach(function (item) {
			?>
			<div class="adblock">
				<div class="left ad100x100">
					<a href="/topic/${item.id}" title="${item.id} | ${item.t}">
					<img src="http://img.getcd.org/t/#{item.id}.jpg" /></a>
				</div>
				<div class="right ad150x100">
					<a href="/topic/${item.id}" title="${item.id} | ${item.t}">
					${item.t}</a>
				</div>
			</div>
			<?js
			}); //forEach
			?>
		</div>
	</div> <!--end: fullwidget-->
	<!--
  	<div class="leftwidget">
		<h3>Discussions</h3><div class="clear"></div><div class="box"><ul id="recentcomments"><li class="recentcomments"><a href="http://www.youquba.net/" rel="external nofollow" class="url">的拉拉队</a> on <a href="http://www.getcd.org/demo/freshblog/2010/07/28/taking-a-look-at-the-new-features-in-css-edit/#comment-104">Taking A Look At The New Features In CSS Edit</a></li><li class="recentcomments"><a href="http://mediasiana.tk/" rel="external nofollow" class="url">Mediasiana</a> on <a href="http://www.getcd.org/demo/freshblog/2010/07/28/using-jquery-to-create-a-osx-dock-effect/#comment-102">Using jQuery To Create A OSX Dock Effect</a></li></ul></div>
		<h3>Archives</h3><div class="clear"></div><div class="box">		<ul>
			<li><a href="http://www.getcd.org/demo/freshblog/2010/07/" title="July 2010">July 2010</a></li>
		</ul>
</div>  	</div> --><!--end: leftwidget-->
  <!--	<div class="rightwidget">
    	<h3>Blogroll</h3><div class="clear"></div><div class="box">
	<ul class="xoxo blogroll">
<li><a href="http://codex.wordpress.org/">Documentation</a></li>
<li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
	</ul>
</div>
</div> --> <!--end: rightwidget-->
</div> <!--end: sidebar-->
<?js include('layout-foot.html') ?>
