
<div class="clear"></div>

<div id="footer">
  <div class="left">©
    2011    · <a href="http://www.getcd.org/">
    GetCD.org    </a> · <span class="rss"><a href="#" title="Subscribe to Posts feed">Posts</a></span> · <span class="rss" title="Subscribe to Comments feed"><a href="#">Comments</a></span> </div>
  <div class="right"> Designed by <a href="http://www.getcd.org/">GetCD.org</a> · Powered by <a href="http://www.nodejs.org/">Node.js</a>+<a href="http://expressjs.com/">Express</a> </div>
  <div class="clear"></div>
  <div>
  <div> #{it.starttime?"本页生成时间:   "+(Date.now() - it.starttime)+" ms":""}</div>
  <p>本站为非赢利性网站，禁止利用本站资源用作商业赢利行为<br />
  本站所有内容均由网友和机器人收集发布，本站不对内容的合法性承担任何责任<br />
  如您认为网友或收集所发内容侵犯您的权益可邮件告知，收到邮件后24小时内删除，我们的邮箱: getcd.org@gmail.com </p>
  </div>
  <div class="clear"></div>
</div>
<!--end: footer-->

</div>

<!-- JiaThis Button BEGIN -->
<script type="text/javascript">
	var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0&amp;uid=1334678770574232" charset="utf-8"></script>
<!-- JiaThis Button END -->

<!--end: wrapper-->
<!--begin: blog tracking-->
<script type="text/javascript">
/*
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16689168-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
*/
</script><!--end: blog tracking-->
<div height="0" id="popupcontent" align="left"><textarea rows="20" cols="80">#</textarea>
</div>
</body></html>
