<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>GetCD.org - ${it.title}</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen">

<link rel="shortcut icon" href="images/favicon.ico">
<link rel="index" title="GetCD" href="http://www.getcd.org/">

<script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
<script async type="text/javascript" src="/javascripts/dropdown.js"></script>


</head>
<body>
<div id="wrapper">
<div id="top">
    <div id="topnav">
      <div class="left">
        <ul>
            <li title="Home"><a href="/index.1">Home</a></li>
            <li class="page_item"><a href="/docs/about.htm" title="About">About</a></li>
			<!--<li class="page_item"><a href="#" title="Feed">Feed</a></li>
			<li class="page_item"><a href="#" title="Archives">Archives</a></li>-->
			<li class="page_item"><a href="http://twitter.com/#!/10iii" title="Follow twitter@10iii">twitter@10iii</a></li>
        </ul>
      </div>
      <!--end: left-->
      <div class="right">
        <form method="get" id="searchform" onsubmit="location.href='/search/'+$('#s').val();return false;" >
          <div id="search">
            <input class="searchinput" value="Search..." onclick="this.value='';" name="s" id="s" type="text">
            <input class="searchsubmit" value="GO" type="button" onclick="location.href='/search/'+$('#s').val();viod(0);">
          </div>
        </form>
      </div>
      <!--end: right-->
    </div>
</div>
<!--end: top-->
<div id="header">
<a class="imagelogo" href="http://www.getcd.org/index.1"></a>
    
<div class="ad468x60"><a target="_blank" href="http://www.getcd.org/"><!--<img src="" alt="www.GetCD.org" border="0">--></a></div>
<!--end: ad468x60-->
</div>
<!--end: header-->
<div id="menu">
    <div class="left">
		<ul>
<li class="cat-item"><a href="/category/电影" title="View all topics in 电影">电影</a><ul class="children"><li class="cat-item"><a href="/category/电影/动作" title="View all topics in 电影/动作">动作</a></li>
<li class="cat-item"><a href="/category/电影/喜剧" title="View all topics in 电影/喜剧">喜剧</a></li>
<li class="cat-item"><a href="/category/电影/剧情" title="View all topics in 电影/剧情">剧情</a></li>
<li class="cat-item"><a href="/category/电影/恐怖" title="View all topics in 电影/恐怖">恐怖</a></li>
<li class="cat-item"><a href="/category/电影/未分类" title="View all topics in 电影/未分类">未分类</a></li>
<li class="cat-item"><a href="/category/电影/爱情" title="View all topics in 电影/爱情">爱情</a></li>
<li class="cat-item"><a href="/category/电影/科幻" title="View all topics in 电影/科幻">科幻</a></li>
<li class="cat-item"><a href="/category/电影/罪案" title="View all topics in 电影/罪案">罪案</a></li>
<li class="cat-item"><a href="/category/电影/战争" title="View all topics in 电影/战争">战争</a></li>
<li class="cat-item"><a href="/category/电影/纪录" title="View all topics in 电影/纪录">纪录</a></li>
<li class="cat-item"><a href="/category/电影/惊悚" title="View all topics in 电影/惊悚">惊悚</a></li>
<li class="cat-item"><a href="/category/电影/悬疑" title="View all topics in 电影/悬疑">悬疑</a></li>
<li class="cat-item"><a href="/category/电影/文艺" title="View all topics in 电影/文艺">文艺</a></li>
<li class="cat-item"><a href="/category/电影/动画" title="View all topics in 电影/动画">动画</a></li>
<li class="cat-item"><a href="/category/电影/魔幻" title="View all topics in 电影/魔幻">魔幻</a></li>
<li class="cat-item"><a href="/category/电影/欧美" title="View all topics in 电影/欧美">欧美</a></li></ul></li>
<li class="cat-item"><a href="/category/剧集" title="View all topics in 剧集">剧集</a><ul class="children"><li class="cat-item"><a href="/category/剧集/欧美" title="View all topics in 剧集/欧美">欧美</a></li>
<li class="cat-item"><a href="/category/剧集/港台" title="View all topics in 剧集/港台">港台</a></li>
<li class="cat-item"><a href="/category/剧集/大陆" title="View all topics in 剧集/大陆">大陆</a></li>
<li class="cat-item"><a href="/category/剧集/日剧" title="View all topics in 剧集/日剧">日剧</a></li>
<li class="cat-item"><a href="/category/剧集/韩剧" title="View all topics in 剧集/韩剧">韩剧</a></li>
<li class="cat-item"><a href="/category/剧集/未分类" title="View all topics in 剧集/未分类">未分类</a></li>
<li class="cat-item"><a href="/category/剧集/喜剧" title="View all topics in 剧集/喜剧">喜剧</a></li></ul></li>
<li class="cat-item"><a href="/category/动漫" title="View all topics in 动漫">动漫</a><ul class="children"><li class="cat-item"><a href="/category/动漫/电视动画" title="View all topics in 动漫/电视动画">电视动画</a></li>
<li class="cat-item"><a href="/category/动漫/动漫周边" title="View all topics in 动漫/动漫周边">动漫周边</a></li>
<li class="cat-item"><a href="/category/动漫/漫画" title="View all topics in 动漫/漫画">漫画</a></li>
<li class="cat-item"><a href="/category/动漫/剧场动画" title="View all topics in 动漫/剧场动画">剧场动画</a></li>
<li class="cat-item"><a href="/category/动漫/OVA" title="View all topics in 动漫/OVA">OVA</a></li>
<li class="cat-item"><a href="/category/动漫/未分类" title="View all topics in 动漫/未分类">未分类</a></li>
<li class="cat-item"><a href="/category/动漫/原创动漫" title="View all topics in 动漫/原创动漫">原创动漫</a></li></ul></li>
<li class="cat-item"><a href="/category/综艺" title="View all topics in 综艺">综艺</a><ul class="children"><li class="cat-item"><a href="/category/综艺/纪录" title="View all topics in 综艺/纪录">纪录</a></li>
<li class="cat-item"><a href="/category/综艺/综艺娱乐" title="View all topics in 综艺/综艺娱乐">综艺娱乐</a></li>
<li class="cat-item"><a href="/category/综艺/科教节目" title="View all topics in 综艺/科教节目">科教节目</a></li>
<li class="cat-item"><a href="/category/综艺/体育节目" title="View all topics in 综艺/体育节目">体育节目</a></li>
<li class="cat-item"><a href="/category/综艺/新闻综合" title="View all topics in 综艺/新闻综合">新闻综合</a></li>
<li class="cat-item"><a href="/category/综艺/晚会典礼" title="View all topics in 综艺/晚会典礼">晚会典礼</a></li>
<li class="cat-item"><a href="/category/综艺/艺人合集" title="View all topics in 综艺/艺人合集">艺人合集</a></li></ul></li>
<li class="cat-item"><a href="/category/音乐" title="View all topics in 音乐">音乐</a><ul class="children"><li class="cat-item"><a href="/category/音乐/欧美音乐" title="View all topics in 音乐/欧美音乐">欧美音乐</a></li>
<li class="cat-item"><a href="/category/音乐/华语音乐" title="View all topics in 音乐/华语音乐">华语音乐</a></li>
<li class="cat-item"><a href="/category/音乐/日韩音乐" title="View all topics in 音乐/日韩音乐">日韩音乐</a></li>
<li class="cat-item"><a href="/category/音乐/古典音乐" title="View all topics in 音乐/古典音乐">古典音乐</a></li>
<li class="cat-item"><a href="/category/音乐/原声音乐" title="View all topics in 音乐/原声音乐">原声音乐</a></li>
<li class="cat-item"><a href="/category/音乐/其它音乐" title="View all topics in 音乐/其它音乐">其它音乐</a></li>
<li class="cat-item"><a href="/category/音乐/演唱会" title="View all topics in 音乐/演唱会">演唱会</a></li>
<li class="cat-item"><a href="/category/音乐/MV" title="View all topics in 音乐/MV">MV</a></li>
<li class="cat-item"><a href="/category/音乐/未分类" title="View all topics in 音乐/未分类">未分类</a></li>
<li class="cat-item"><a href="/category/音乐/新世纪音乐" title="View all topics in 音乐/新世纪音乐">新世纪音乐</a></li></ul></li>
<li class="cat-item"><a href="/category/游戏" title="View all topics in 游戏">游戏</a><ul class="children"><li class="cat-item"><a href="/category/游戏/光盘版游戏" title="View all topics in 游戏/光盘版游戏">光盘版游戏</a></li>
<li class="cat-item"><a href="/category/游戏/硬盘版游戏" title="View all topics in 游戏/硬盘版游戏">硬盘版游戏</a></li>
<li class="cat-item"><a href="/category/游戏/电视游戏" title="View all topics in 游戏/电视游戏">电视游戏</a></li>
<li class="cat-item"><a href="/category/游戏/掌机游戏" title="View all topics in 游戏/掌机游戏">掌机游戏</a></li>
<li class="cat-item"><a href="/category/游戏/游戏周边" title="View all topics in 游戏/游戏周边">游戏周边</a></li>
<li class="cat-item"><a href="/category/游戏/未分类" title="View all topics in 游戏/未分类">未分类</a></li>
<li class="cat-item"><a href="/category/游戏/网络游戏" title="View all topics in 游戏/网络游戏">网络游戏</a></li></ul></li>
<li class="cat-item"><a href="/category/软件" title="View all topics in 软件">软件</a><ul class="children"><li class="cat-item"><a href="/category/软件/应用软件" title="View all topics in 软件/应用软件">应用软件</a></li>
<li class="cat-item"><a href="/category/软件/多媒体类" title="View all topics in 软件/多媒体类">多媒体类</a></li>
<li class="cat-item"><a href="/category/软件/行业软件" title="View all topics in 软件/行业软件">行业软件</a></li>
<li class="cat-item"><a href="/category/软件/操作系统" title="View all topics in 软件/操作系统">操作系统</a></li>
<li class="cat-item"><a href="/category/软件/未分类" title="View all topics in 软件/未分类">未分类</a></li>
<li class="cat-item"><a href="/category/软件/系统工具" title="View all topics in 软件/系统工具">系统工具</a></li>
<li class="cat-item"><a href="/category/软件/安全相关" title="View all topics in 软件/安全相关">安全相关</a></li>
<li class="cat-item"><a href="/category/软件/编程开发" title="View all topics in 软件/编程开发">编程开发</a></li>
<li class="cat-item"><a href="/category/软件/网络软件" title="View all topics in 软件/网络软件">网络软件</a></li></ul></li>
<li class="cat-item"><a href="/category/图书" title="View all topics in 图书">图书</a><ul class="children"><li class="cat-item"><a href="/category/图书/文学" title="View all topics in 图书/文学">文学</a></li>
<li class="cat-item"><a href="/category/图书/生活" title="View all topics in 图书/生活">生活</a></li>
<li class="cat-item"><a href="/category/图书/教育科技" title="View all topics in 图书/教育科技">教育科技</a></li>
<li class="cat-item"><a href="/category/图书/人文社科" title="View all topics in 图书/人文社科">人文社科</a></li>
<li class="cat-item"><a href="/category/图书/小说" title="View all topics in 图书/小说">小说</a></li>
<li class="cat-item"><a href="/category/图书/计算机与网络" title="View all topics in 图书/计算机与网络">计算机与网络</a></li>
<li class="cat-item"><a href="/category/图书/经济管理" title="View all topics in 图书/经济管理">经济管理</a></li>
<li class="cat-item"><a href="/category/图书/其它图书" title="View all topics in 图书/其它图书">其它图书</a></li></ul></li>
<li class="cat-item"><a href="/category/教育" title="View all topics in 教育">教育</a><ul class="children"><li class="cat-item"><a href="/category/教育/计算机" title="View all topics in 教育/计算机">计算机</a></li>
<li class="cat-item"><a href="/category/教育/外语" title="View all topics in 教育/外语">外语</a></li>
<li class="cat-item"><a href="/category/教育/人文社科" title="View all topics in 教育/人文社科">人文社科</a></li>
<li class="cat-item"><a href="/category/教育/未分类" title="View all topics in 教育/未分类">未分类</a></li>
<li class="cat-item"><a href="/category/教育/理工科" title="View all topics in 教育/理工科">理工科</a></li>
<li class="cat-item"><a href="/category/教育/艺术体育" title="View all topics in 教育/艺术体育">艺术体育</a></li></ul></li>
<li class="cat-item"><a href="/category/资料" title="View all topics in 资料">资料</a><ul class="children"><li class="cat-item"><a href="/category/资料/电子图书" title="View all topics in 资料/电子图书">电子图书</a></li>
<li class="cat-item"><a href="/category/资料/其它资料" title="View all topics in 资料/其它资料">其它资料</a></li>
<li class="cat-item"><a href="/category/资料/计算机教程" title="View all topics in 资料/计算机教程">计算机教程</a></li>
<li class="cat-item"><a href="/category/资料/有声读物" title="View all topics in 资料/有声读物">有声读物</a></li>
<li class="cat-item"><a href="/category/资料/杂志期刊" title="View all topics in 资料/杂志期刊">杂志期刊</a></li>
<li class="cat-item"><a href="/category/资料/外语教程" title="View all topics in 资料/外语教程">外语教程</a></li>
<li class="cat-item"><a href="/category/资料/未分类" title="View all topics in 资料/未分类">未分类</a></li>
<li class="cat-item"><a href="/category/资料/体育健身" title="View all topics in 资料/体育健身">体育健身</a></li>
<li class="cat-item"><a href="/category/资料/课程讲座" title="View all topics in 资料/课程讲座">课程讲座</a></li>
<li class="cat-item"><a href="/category/资料/管理营销" title="View all topics in 资料/管理营销">管理营销</a></li>
<li class="cat-item"><a href="/category/资料/素材" title="View all topics in 资料/素材">素材</a></li>
<li class="cat-item"><a href="/category/资料/幼儿教育" title="View all topics in 资料/幼儿教育">幼儿教育</a></li></ul></li>

		</ul>
    </div>
    <div class="right">
        <a class="rssfeed" href="#" title="Subscribe to RSS feed"> </a>
    </div>
    <!--end: right-->
</div>
<!--end: menu-->
<?js
	var formattime = function (dtstr) {
		var dt = new Date(dtstr);
		var res = '' + dt.getFullYear()+'-'+
				((dt.getMonth()+1)>9?'':'0')+(dt.getMonth()+1)+'-'+
				(dt.getDate()>9?'':'0')+dt.getDate()+' '+
				dt.getHours()+':'+dt.getMinutes()+':'+dt.getSeconds();
		return res;
	};
?>
