<?js include('layout-head.html') ?>
<link rel="stylesheet" type="text/css" href="/stylesheets/thickbox.css" media="screen">
<script async type="text/javascript" src="/javascripts/thickbox-compressed.js"></script>
<script type="text/javascript" src="/javascripts/topic.js"></script>

<div id="content">
    <p class="browse">
    <a href="/">Home</a> 
	»
	<a href="/category/#{encodeURI(it.main_category)}" title="View all topics in ${it.main_category}" rel="category tag">${it.main_category}</a>, 
	<a href="/category/#{encodeURI(it.main_category+'/'+it.sub_category)}" title="View all topics in ${it.main_category+'/'+it.sub_category}" rel="category tag">${it.main_category+'/'+it.sub_category}</a> 
	» 
	</p>
 <div class="clear"></div>

	<div id="gcdcontent">
<div id="contentInfo">
	<h1 id="topicstitle">${it.title}</h1>
    <div class="topicImg">
	    <a title="${it.title}" href="/topic/${it.topic_id}" id="topicImgUrl">
		<?js
			var formattime = function (dtstr) {
				var dt = new Date(dtstr.toString().replace('Z','+08:00'));
				var res = '' +  dt.getFullYear()+'-'+
						((dt.getMonth()+1)>9?'':'0')+(dt.getMonth()+1)+'-'+
						(dt.getDate()>9?'':'0')+dt.getDate()+' '+
						dt.getHours()+':'+dt.getMinutes()+':'+dt.getSeconds();
				return res;
			}

	    //var imgurlreg = RegExp('<img .*?\>','i').exec(it.content);
	    //var srcstrreg = imgurlreg?RegExp('src=.+?[\\s"\']','i').exec(imgurlreg[0]):null;
	    //var srcstr = srcstrreg?srcstrreg[0]:null;
	    //var newsrc = srcstr?srcstr.replace(/\(.+?(?=\/thumb\.jpg)/i,'(120x120)'):null;
	    ?>
		<img src="http://img.getcd.org/t/#{it.topic_id}.jpg"  class="cover" />
        </a>
        <div>
            <div style="margin-top:5px; " id="visitTimes">
                <strong style="display:inline-block;vertical-align:top;" id="visitTimes-title"></strong>
				<!--
					<span style="display: inline-block; vertical-align: top;" id="current-page-views">29749次 浏览</span><br>
					<span style="display:inline-block;vertical-align:top;" favorites="1013" id="favoriteNumber">1013次 收藏</span>
				-->
            </div>
       </div>
    </div>
    <div style="float:left;overflow:hidden;">
        <div class="block1">
            <div id="block11" class="block11">
                <ul>
                    <li><strong style="display:inline-block;vertical-align:top;">摘要:</strong>
                        <span id="topicStatusDiv" style="display:inline-block;vertical-align:top;">
						<!--
							<img id="requestIcon" src="http://v4.vcimg.com/images/group/elite_on.gif" alt="">
						-->
		<span id="requestWords">#{it.abstract?it.abstract:''}</span><span id="handle_s"></span>
                        </span>
                    </li>
                    <li><strong style="display:inline-block;vertical-align:top;"></strong>
                        <span style="display:inline-block;vertical-align:top;">
                        <span id="requestWords">#{it.brief}</span>
						<!--
                            <div id="iptcomLanguageWriting" class="iptcom">
                                <span class="iptcom-title"><strong>语言</strong>:&nbsp;</span>
                                <a onclick="pageTracker._trackPageview('/stat/topicsSearchLang/')" target="_blank" href="http://www.verycd.com/search/lang/chinese_traditional">繁体中文</a>
                            </div>
							-->
                        
                        </span>
                    </li>
                    <li>
                        <strong style="display:inline-block;vertical-align:top;"></strong>
			<span style="display:inline-block;vertical-align:top;" class="date-time" title="${it.pubtime}">${formattime(it.pubtime)}</span>
                        <span style="display:inline-block;vertical-align:top;">发布  | </span>
			<span style="display:inline-block;vertical-align:top;" class="date-time" title="${it.updtime}">${formattime(it.updtime)}</span>
                        <span style="display:inline-block;vertical-align:top;">更新</span>
                    </li>
                    <li>
                        <strong style="display:inline-block;vertical-align:top;">分类:</strong>
                        <span style="display:inline-block;vertical-align:top;">
				<a style="text-decoration: underline;" href="http://www.getcd.org/category/${it.main_category}">${it.main_category}</a>&nbsp;
				<a style="text-decoration: underline;" href="/category/#{encodeURI(it.main_category+'/'+it.sub_category)}" >${it.sub_category}</a>&nbsp;
                        </span>
                    </li>
                </ul>
            </div>
			<!--
            <div class="block12">
            <table width="200px" cellspacing="0" cellpadding="0" border="0" height="60px" style="margin-left: 7px;" id="membertable">
            <tbody>
            <tr>
                <td valign="top" align="left" scope="row" style="width: 50px;">
					<div style="height:60px" class="face">
						<a onclick="pageTracker._trackPageview('/stat/topicUserface/');" href="http://www.verycd.com/members/@u2886704/">
						<img class="userFace" src="veryvd-2803628_files/04_avatar_small.jpg"></a>
					</div>
                </td>
                <td valign="top" align="left">
				<div style="margin-top:5px"></div>
				<p>
					<strong id="username">
						<a style="color: rgb(0, 0, 0);" onclick="pageTracker._trackPageview('/stat/topicUsername/');" href="http://www.verycd.com/members/@u2886704/">ccj0212</a>
					</strong>
					<span><img title="金光盘" src="veryvd-2803628_files/15.gif"></span>
                    <a href="http://www.verycd.com/base/i/2886704/badges/?achievement=entry.vote.440675" target="_blank" style="float: none;">
						<img width="25" align="absmiddle" height="20" title="" iconsize="25" uid="2886704" class="honorimage" src="veryvd-2803628_files/vote_440675_1.gif">
					</a>
                </p>
                 <p>精华资源: <span style="text-decoration: underline;cursor: pointer;">
					<a style="float: none; color: rgb(0, 0, 0);" href="http://www.verycd.com/members/@u2886704/folders/elite/">283
					</a></span></p>
                 <p>全部资源: <span style="text-decoration: underline;cursor: pointer;">
					<a style="float: none; color: rgb(0, 0, 0);" href="http://www.verycd.com/members/@u2886704/folders/">283
					</a></span></p>
                </td>
            </tr>
            </tbody></table>
            </div>
			-->
        </div><!-- .block1 -->
     </div>
</div>
<div class="emuletop">电驴资源</div>
<div class="emulemain">

<table cellspacing="1" cellpadding="0" border="0" class="ed2kzone">
    <tbody>
			<tr class="needemule">
				<td align="center" colspan="4">下面是用户共享的文件列表，推荐使用<a target="_blank" href="http://www.emule-project.net/home/perl/general.cgi?l=42&amp;rm=download">eMule</a>  进行下载，您可以点击这些文件名进行下载<br>Below are files shared by users, please use <a target="_blank" href="http://www.emule-project.net/">eMule</a> to download them</td>
			</tr>
			<?js
			var ed2kitems = [], tmped2k = []; 
			if (it.res_site === 'VC') {
				it.hash_link.toString().split('ed2k://').filter(function(element, index, thearray){
					return element.length>0?true:false;
				}).forEach(function(element, index, thearray){
					tmped2k.push(element.split('`'));
				});
				tmped2k.forEach(function (ele, ind, arr) {
					ed2kitems.push({
						"title" : ele[1],
						"link" : 'ed2k://' + ele[0]
					});
				});
			} else {
				ed2kitems = JSON.parse(it.hash_link);
			}
			for (item in ed2kitems){
			?>
			<tr class="ed2kitem" name="itemline" >
				<td><input type="checkbox" name="topic${it.topic_id}item" value="#{ed2kitems[item].link}" onclick="em_size(''+this.name+'');" checked="checked"></td>
				<td><a href="#{ed2kitems[item].link.replace(/\|/g,'%7C')}" ed2k="#{ed2kitems[item].link}">#{ed2kitems[item].title}</a></td>
				<td name="topic${it.topic_id}itemsize" class="itemsize">0</td>
			</tr>
			<?js
			}; //for (item in ed2kitems){
			?>
			<tr class="ed2kitem">
			<td><input type="checkbox" id="checkall_topic${it.topic_id}item" class="forminput" onclick="checkAll('topic${it.topic_id}item',this.checked)" checked="checked"></td>
			<td>
			<input type="button" value="下载/DOWNLOAD" class="downbutton" onclick="download('topic${it.topic_id}item',0,1)">&nbsp;
			<input type="button" value="IE复制/IE COPY" class="downbutton" onclick="copy('topic${it.topic_id}item')">&nbsp;
			<input type="button" alt="#TB_inline?height=400&width=700&inlineId=popupcontent" title="请全选并复制到粘贴板" class="thickbox downbutton" value="复制/COPY LINKS" id="copyselect">
			</td>
			<td width="70" id="size_topic${it.topic_id}item" class="sizesum" >0</td>
			</tr>
	</tbody>
</table>
</div> <!-- div class="emulemain" -->
	<!--	</div> gcdcontent-->
  <div class="entry">
	  <div>#{it.res_site === 'VC'?it.content.toString().trim().replace(/\n/g,"<br />"):it.content.toString().trim()}
  </div>
    <div class="clear"></div>
    <div class="tags">
      Tags: 
	  <a href="/category/#{encodeURI(it.main_category)}" title="View all topics in ${it.main_category}" rel="tag">${it.main_category}</a>, 
	  <a href="/category/#{encodeURI(it.main_category+'/'+it.sub_category)}" title="View all topics in ${it.main_category+'/'+it.sub_category}" rel="tag">${it.main_category+'/'+it.sub_category}</a> 
	</div>
  </div>
  <!--end: entry-->
  </div> <!--gcdcontent-->
  <!-- You can start editing here. -->
<div class="comments-box"> <a name="comments" id="comments"></a>
 
    <h2>0 Comments</h2>
  <ol class="commentlist">
  <!--comments go here-->
  </ol>
  <div class="pagenavi">
    <div class="nextprev left">
          </div>
    <div class=" nextprev right">
          </div>
    <div class="clear"></div>
  </div>
      <div id="respond">
	  <!--
    <h2>Leave a Reply</h2>
    <div class="cancel-comment-reply"> <small>
      <a rel="nofollow" id="cancel-comment-reply-link" href="http://www.getcd.org/demo/freshblog/2010/07/28/taking-a-look-at-the-new-features-in-css-edit/#respond" style="display: none;">Click here to cancel reply.</a>      </small> </div>
        <form action="http://www.getcd.org/demo/freshblog/wp-comments-post.php" method="post" id="commentform">
            <p>
        <input class="author" value="Enter your name..." onclick="this.value='';" name="author" id="author" size="22" tabindex="1" type="text">
        <label for="author"><small>
          (Required)          </small></label>
      </p>
      <p>
        <input class="email" value="Enter your email..." onclick="this.value='';" name="email" id="email" size="22" tabindex="2" type="text">
        <label for="email"><small>(Will not be published)
           (Required)          </small></label>
      </p>
      <p>
        <input class="url" value="Enter your website..." onclick="this.value='';" name="url" id="url" size="22" tabindex="3" type="text">
        <label for="url"><small>(Optional)</small></label>
      </p>
        <p>
        <textarea name="comment" id="comment" tabindex="4"></textarea>
      </p>
      <p>
        <input class="submit" name="submit" id="submit" tabindex="5" value="Submit" type="submit">
        <input name="comment_post_ID" value="28" id="comment_post_ID" type="hidden">
<input name="comment_parent" id="comment_parent" value="0" type="hidden">
      </p>
          </form>
		  -->
   </div>
  </div>
  </div>
<!--end: content-->
<div id="sidebar">
	<div class="fullwidget">
    	<h3>相关资源</h3><div class="clear">
		</div><div class="box">
				<?js
				var relateditems = [], tmprelated = [];
				if (it.res_site === 'VC') {
					it.related.toString().split('\n').filter(function(element, index, thearray){
						return element.length>0?true:false;
					}).forEach(function(element, index, thearray){
						tmprelated.push(element.split('`'));
					});
					tmprelated.forEach(function (ele, ind, arr) {
						relateditems.push({
							"title" : ele[1],
							"topic_id" : 'VC' + ele[0]
						});
					});
				} else {
					relateditems = JSON.parse(it.related);
				}
				relateditems.forEach(function (item) {
				?>
			<div class="adblock">
				<div class="left ad100x100">
					<a href="/topic/${item.topic_id}" title="${item.topic_id} | ${item.title}">
					<img src="http://img.getcd.org/t/#{item.topic_id}.jpg" /></a>
				</div>
				<div class="right ad150x100">
					<a href="/topic/${item.topic_id}" title="${item.topic_id} | ${item.title}">
					${item.title}</a>
				</div>
			</div>
				<?js
				}); //for (item in relateditems)
				?>
		</div>
	</div> <!--end: fullwidget-->
	<!--
  	<div class="leftwidget">
		<h3>Discussions</h3><div class="clear"></div><div class="box"><ul id="recentcomments"><li class="recentcomments"><a href="http://www.youquba.net/" rel="external nofollow" class="url">的拉拉队</a> on <a href="http://www.getcd.org/demo/freshblog/2010/07/28/taking-a-look-at-the-new-features-in-css-edit/#comment-104">Taking A Look At The New Features In CSS Edit</a></li><li class="recentcomments"><a href="http://mediasiana.tk/" rel="external nofollow" class="url">Mediasiana</a> on <a href="http://www.getcd.org/demo/freshblog/2010/07/28/using-jquery-to-create-a-osx-dock-effect/#comment-102">Using jQuery To Create A OSX Dock Effect</a></li></ul></div>
		<h3>Archives</h3><div class="clear"></div><div class="box">		<ul>
			<li><a href="http://www.getcd.org/demo/freshblog/2010/07/" title="July 2010">July 2010</a></li>
		</ul>
</div>  	</div> --><!--end: leftwidget-->
  <!--	<div class="rightwidget">
    	<h3>Blogroll</h3><div class="clear"></div><div class="box">
	<ul class="xoxo blogroll">
<li><a href="http://codex.wordpress.org/">Documentation</a></li>
<li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
	</ul>
</div>
</div> --> <!--end: rightwidget-->
</div> <!--end: sidebar-->
<?js include('layout-foot.html') ?>
